<%- partial('_partial/head') %>

<body>
  <div id="container">
    <div id="wrap">
      <%- partial('_partial/header') %>
      <%- body %>
      <%- partial('_partial/footer') %>
    </div>
  </div>
</body>
</html>
