<footer id="footer">
  <div class="wrap">
    <div class="inner" style="text-align: center">
      <% if (config.author){ %>
      &copy; <%= new Date().getFullYear() %> <%= config.author %>
      <% } else { %>
      &copy; <%= new Date().getFullYear() %> <%= config.title %>
      <% } %>
      
      <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
    </div>
  
    <div class="inner" style="text-align: center">
      Powered by <a href="http://hexo.io/">Hexo</a>. Theme <a href="https://github.com/billryan/hexo-theme-wipo">wipo</a> designed by <a href="http://www.yuanbin.me">billryan</a>.
    </div>
  </div>
</footer>
